.App {
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(62deg, #a661ea 50%, #E4E9FD 50%);
  min-height: 1000px;
}
.head{
  padding-top: 60px;
}
.heading{
  text-align: center;
  background-color:#7a35c0;
  color: white;
  width: 350px;
  margin: auto;
  padding: 10px 0;
  border-radius: 5px;
}
.heading input{
  width: 250px;
  padding: 5px 0;
  border-radius: 5px;
  border-color: #24093c;
  outline:3px;
}

 ::placeholder{
  font-size: 1.1rem;
  padding-left: 10px;
  font-family: 'Merriweather';
  
}
.heading button{
  color: #7a35c0;
  padding: 5px 17px;
  border-radius: 5px;
  font-family: 'Merriweather';
  font-weight: bold;
  background-color: #EEB0B0;
  border-color: #7a35c0;
  transition: 0.3s;
}
.heading button:hover{
  background-color: #E4E9FD;
 
}
.box{
  width: 350px;
  margin: auto;
}
.item{
  padding: 6px 0;
  margin-top: 5px;
  background-color: white;
  font-size: 1.2rem;
  font-weight: 600;
  transition:0.3s;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
}
.item p{
  margin: auto 0;
}
.item:hover{
  background-color:#d5b3f7;
}
.delete{
  color:#FF5B00;
  font-size: medium;
  padding-right: 10px;
  /* margin-left: 200px; */
}
.fa-circle{
  color: #7a35c0;
}
.footer{
  position:-webkit-sticky;
  margin-top: 400px;
  text-align: center;
  font-weight: bold;
  
}